@{ ViewBag.Title = "Promote Employee";}
@model EMS.Core.Application.UseCases.Manager.PromoteEmployeeUseCase.Models.PromoteEmployeeOutputModel

<h1>Promote Employee</h1>

<h5>First Name: @Model.FirstName</h5>
<h5>First Name: @Model.LastName</h5>
<h5>New Salary: @Model.Salary</h5>